<div class="about-me-container">
    <h1>About Me</h1>
    <div class="about-me-description">
        <div class="objectives">
            <h3>Objectives</h3>
            <p>A creative and optimistic individual that has the capacity to develop an effective and efficient solution with no tolerance for errors and possess a positive attitude towards individual goals and an organizational goal.</p>
        </div>
        <div class="brief-into">
            <h3>Academics:</h3>
            <p>I have completed my higher education in Bachelor of Engineering specializing in Mechanical Engineering in 2019.</p>
        </div>
        <div class="work-container">
            <h3>Professional Experience</h3>
            <h4 class="department">Mechanical Experience</h4>
            <div class="work-card-container">
                <h4>Design Engineer - APA Engineering Pvt Ltd - 1.5 years</h4>
                <p>Worked on Aluminium extrusion tool design, 3D modelling and assembling components for 1.5 years</p>        
            </div>
            <div class="work-card-container">
                <h4>Design Engineer - KSR Technologies - 8 months</h4>
                <p>Worked on R&D for a dishwasher prototype, making 3D model prototypes for 3D printing, sheet metal design and 2D drafting</p>       
            </div>
            <h4 class="department">Coding Training</h4>
            <div class="work-card-container">
                <h4>Intensive Training - Kodnest Technologies - 6 months</h4>
                <p>Went through 6 months intensive training for Java Full Stack development at Kodnest Technologies</p>         
            </div>
            <div class="skills-container">
                <h4>Skillsets:</h4>
                <p>HTML, CSS, JS, React js, Angular, Node js, Express, Springboot, Java, Python, MySQL and Oracle SQL</p>
            </div>
        </div>
        I worked for more than two years in Mechanical industries dealing with foreign clients, handling projects, which greatly helped in improving my communication skills and working with a team. Throughout my academics and career, I have maintained my interest and kept learning coding languages. I was always fascinated by working with coding languages and went through an six month intensive training for Java Full Stack Development. I specialize in React, Angular, Node js, Springboot, Java, Python, Css, JS and MySQL. Through the knowledge gained through the intensive training and self-learing, I was able to develop two projects, Techie a full stack quiz app built using React, CSS, Nodejs with Express and MySQL and the very thing you are viewing, the portfolio site is built using Angular, CSS and Typescript. I'm always eager to learn new technologies and work with like minded individuals.
    </div>
</div>