.projects-container{
    font-family: 'Rubik', sans-serif;
    width: 80%;
    margin-inline: auto;
    border: 0.3px solid white;
    padding: 30px;
    border-radius: 20px;
}
.projects-container h1{
    margin-bottom: 20px;
    margin-top: 10px;
}
.projects-container p{
    line-height: 1.6;
}
.my-projects-container{
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.siteButt a{
    text-decoration: none;
    color: #313866;
    display: block;
}
.siteButt{
    cursor: pointer;
    text-align: center;
    padding: 15px 20px;
    border: 0.3px solid white;
    border-radius: 20px;
    color: #313866;
    margin-inline: 15px;
    margin-block: 15px;
    font-size: 17px;
    transition: all 0.3s ease-in-out;
}
.siteButt:hover{
    background-color: #974EC3;
    color: white !important;
}
.siteButt:hover .siteButt a{
    background-color: #974EC3;
    color: white !important;
}
/* .card-container h3, .card-container p{
    margin-block: 10px;
} */
@media screen and (max-width: 650px) {
    .projects-container{
        text-align: justify;
    }
}
@media screen and (max-width: 470px) {
    .projects-container{
        text-align: justify;
    }
}
@media screen and (max-width: 340px) {
    .projects-container{
        padding: 20px;
    }
}