<div class="projects-container">
    <h1>Projects</h1>
    <p>Welcome to the Projects page. The portfolio you are viewing is built using Angular, Typescript and CSS. Designed to be responsive to both mobiles and desktop platforms. Apart from this, I have also developed a quiz website. It is called Techie. Techie is developed using React, CSS, Nodejs along with Express and MySQL database. Same as this portfolio, special care has been given for the responsivness of both mobile and desktop applications. Click on the cards to take you to the website.</p>
    <div class="my-projects-container">
        <a href="https://techie-webapp.onrender.com"><button class="siteButt" (click)="handleTechie()">Techie - Website</button></a>
        <button class="siteButt" (click)="handlePortfolio()">Portfolio site</button>
    </div>
</div>
