<div class="contact-container">
    <h1>Contact Me</h1>
    <p>Thank you for taking your valuable time and having a look at my portfolio. If you have any feedback or want to communicate with me feel free to contact me at:</p>
    <div class="gmail">Gmail: govarthanarao123@gmail.com</div>
    <div class="linkedin"><a class="linkedin" href="https://www.linkedin.com/in/govarthana-rao-5a2428162/"><i class="fa fa-linkedin-square" aria-hidden="true"></i>&nbsp;LinkedIn</a></div>
</div>




<!-- <span class="mail">govarthanarao123@gmail.com</span> -->