.menu-list-container{
    text-align: center;
}
.menu-list-container ul{
    list-style: none;
    padding: 0;
}
.menu-list-container ul li{
    margin-block: 50px;
}
.menu-list-container ul li a{
    text-decoration: none;
    padding: 10px 15px;
    color: white;
}
.activeup{
    border-radius: 20px;
    background-color: white;
    color: #313866 !important;
}