
<div class="home-container">
    <ngx-typed-js 
    [strings]="['Front-end','Back-end','Full stack']"
    [loop]="true"
    [typeSpeed]="100"
    [backSpeed]="100"
    [autoInsertCss]="true"
    >
        <div class="my-description">
            <div class="image-intro">
                <span class="image-container"><img src="../../assets/Govarthana Linkedin profile.jpg" alt="photo"></span>
                <div class="desc">
                    <span class="my-desc-name">Hello, I'm <span class="name">Govarthan</span></span>
                    <br>
                    And I'm a <span id="roles" class="typing"></span><span class="just-dev">&nbsp;developer</span>
                </div>
            </div>
        </div>
    </ngx-typed-js>
    <p class="welcome-message">Welcome to my portfolio, as mentioned my name is Govarthana Rao. I'm an aspiring full stack engineer from Chennai, Tamil Nadu with a strong passion to design and develop websites. Explore the portfolio to know more about me...</p>
</div>
